<section class="page-template-1">
  <section class="content-template-1">
    <%= @shelters.each do |shelter| %>
      <article class="shelter-<%= shelter.id %>">
        <h2><%= shelter.title %></h2>
      </article>
    <% end %>
  </section>
</section>