<section class="page-template-1">
  <section class="content-template-1">
    <%= @shelters.each do |shelter| %>
      <article id="shelter-<%= shelter.id %>">
        <h2><%= shelter.title %></h2>
      </article>
    <% end %>
  </section>
  <%= link_to 'Create New Shelter', "/shelters/new" %>
</section>